main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 850px;
}

.pokedex-header-img {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.col-full {
  width: 100%;
}

.col-two-thirds {
  width: 66%;
}

.col-one-sixth {
  width: 16%;
}

.input-text-button {
  display: flex;
}

.form-content {
  display: flex;
  justify-content: flex-end;
}

.close-hint-button {
  justify-content: flex-end;
  justify-content: space-between;
}

.hint-button-container {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  width: 33%;
}

.hint-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.hint-scrollbox {
  display: flex;
  flex-direction: column;
}

.hint-title {
  display: flex;
  justify-content: space-between;
}

.hint-answer {
  display: flex;
  justify-content: center;
}

.game-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.game-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.attribute-header {
  display: flex;
  justify-content: center;
}

.scrollbox {
  display: flex;
  flex-direction: column;
}

.scrollbox-footer-row {
  display: flex;
  justify-content: center;
}

.guess-square {
  display: flex;
  flex-direction: column;
}

.footer-row {
  align-self: flex-end;
}

.footer-img {
  width: 100%;
}

.dropdown-list-element {
  display: flex;
}

dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-sprite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
