main {
  background-color: #dc082d;
}

.container {
  background-color: #dc082d;
  font-family: 'IBM Plex Mono', monospace;
}

input {
  margin: 2rem 0.25rem;
  height: 2rem;
}

.text-input {
  border: lightgray solid 1px;
  border-radius: 5px;
}

.enter-button {
  width: 4rem;
  color: white;
  background-color: #fa0707;
  border: #bb0505 solid 1px;
  border-radius: 5px;
  font-family: 'IBM Plex Mono', monospace;
}

.game-box {
  background-color: #fff;
  width: 590px;
  height: 400px;
  border-radius: 0.5rem;
}

.attribute-header {
  width: 530px;
  background-color: #d9d9d9;
  border-radius: 0.25rem;
  margin: 1rem;
  height: 33px;
}

.attribute-header div {
  text-align: center;
  background-color: #c2c2c2;
  padding: 0.25rem;
  margin: 0.2rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
}

.scrollbox {
  width: 560px;
  height: 80%;
  overflow-y: scroll;
}

.guess-row {
  margin: 5px 0;
}

.guess-square {
  text-align: center;
  line-height: 35px;
  border: #d9d9d9 solid 5px;
  border-radius: 5px;
  color: black;
  margin: 5px;
  background-position: center;
  background-size: cover;
}

.guess-name {
  height: 87px;
  font-size: 0.7rem;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: relative;
}

.sprite {
  border-radius: 5px;
}

dialog {
  background-color: #dc082d;
  border: none;
  border-radius: 20px;
  /* display: none; */
}

.modal-title {
  font-size: 1.2rem;
  margin: 10px;
  color: white;
  font-weight: 500;
}

.modal-sprite-container {
  background-color: white;
  width: 200px;
  border-radius: 20px;
  padding-bottom: 15px;
}

.modal-sprite {
  width: 200px;
}

.modal-name {
  border-radius: 20px;
  color: black;
  background-color: #d4d4d4;
  width: 170px;
  height: 40px;
  line-height: 40px;
}

.modal-play-again {
  margin: 10px;
  height: 50px;
  width: 100px;
  background-color: #03b403;
  border: 1px solid #037b03;
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
}

dialog::backdrop {
  background-color: black;
  opacity: 50%;
}
